.main {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    height: 100vh;
}
.factTemplate {
   
    
    border: 5px solid rgba(0, 0, 0, 0);
    padding: 2%;
    
    color: rgb(255, 255, 255);
    border: 0.05rem solid white;
    
}
.welcomeCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.desc {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}
.image {
   width: 70%;
   height: 70%;
}
.barsWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    overflow: auto;
    
    
}



.graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: clip;
    
    
}


.leftBar {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.boxHovered {
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.237);
}

.boxStale {
    font-size: 0.8rem;
    
}

.rightBar {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 5%;
}

.input {
    all: unset;
    
    background-color: black;
    border-bottom: 0.1rem solid white;
}

.companyName {
    font-size: 1rem;
    font-style: italic;
    color: gray;
    padding: 4%;
}

.initContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.title{
    font-style:italic;
    padding: 5%;
}


.tpSearchBar {
    display: flex;
    flex-direction: row;
}