.main {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    height: 100vh;
}
.factTemplate {
   
    
    border: 5px solid rgba(0, 0, 0, 0);
    padding: 2%;
    font-size: 0.4rem;
    color: rgb(255, 255, 255);
    border: 0.05rem solid white;
    
}

.barsWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: auto;
    
    
}

.graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    overflow: clip;
    padding: 5%;
    
}


.leftBar {
    display: flex;
    flex-direction: column;
    padding: 5%;
}